.weather-container {
    background: yellowgreen;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.weather {
    font-size: 24px ;
    margin: 0;

}
/*Temp as in temperature, not temporary files */
.temp{
    font-size: 60px;
    margin:0;
    font-weight: bold;
}